table.lfc-compositor-default {
    width: 100%;
}

table.lfc-compositor-default td {
    vertical-align: top;
}

table.lfc-compositor-default {
    width: 100%;
}

table.lfc-compositor-default td {
    padding-right: 20px;
}

table.lfc-compositor-default td.last {
    padding-right: 0;
}