{% load i18n %}
<form action="{% url 'compositor_add_widget' %}"
      method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}

    <h1>{% trans "Add Widget" %}</h1>

    {% include "lfc/manage/lfc_form.html" %}

    <input type="hidden" name="type" value="{{ type }}" />
    <input type="hidden" name="column_id" value="{{ column_id }}" />

    <input class="ajax-submit"
           type="submit" />
</form>

<script>
    $(function() {
        addEditor("#id_content");
    })
</script>
