{% load i18n %}
<div>
    {% if edit %}
        {% include "lfc_compositor/widgets/widget_navigation.html" %}
    {% endif %}
    <div class="widget-{{ widget.id }}">
        {% if widget.display_title %}
            <h1>
                <a href="{{ widget.reference.get_content_object.get_absolute_url }}">{{ widget.reference.get_content_object.title }}</a>                
            </h1>
        {% endif %}
        {% if widget.words %}
            {{ widget.reference.get_content_object.text|truncatewords_html:widget.words|safe }}
        {% else %}
            {{ widget.reference.get_content_object.text|safe }}
        {% endif %}
        
        {% if widget.display_link %}
            <p><a href="{{ widget.reference.get_content_object.get_absolute_url }}">{% trans "More" %}</a></p>
        {% endif %}
    </div>
<div>