{% load i18n %}
<div>
    {% if edit %}
        {% include "lfc_compositor/widgets/widget_navigation.html" %}
    {% endif %}
    
    {% if IMAGE_LEFT  %}
        <img alt="image" class="widget widget-{{ widget.id }} left" src="{{ image_url }}" /><p class="widget-{{ widget.id }}">{{ widget.content|safe }}</p>
    {% else %}
        <img alt="image" class="widget widget-{{ widget.id }} right" src="{{ image_url }}" /><p class="widget-{{ widget.id }}">{{ widget.content|safe }}</p>
    {% endif %}
</div>